body {
    font-family: "Montserrat", sans-serif;
}
.container {
    max-width: 1140px;
    margin: 0 auto;
    padding-left: 15px;
    padding-right: 15px;
}
.header-logo {
    display: block;
    background-image: url(../logo.svg);
    background-repeat: no-repeat;
    background-size: cover;
    width: 97px;
    height: 30px;
    margin-top: 9px;
}
.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 50px;
    padding-bottom: 27px;
}
.header-item {
    display: flex;
    justify-content: space-between;
    flex-basis: 57.6%;
}
.header-menu {
    display: flex;
    list-style-type: none;
    gap: 54px;
    padding-left: 0;
}
.header-menu a {
    text-decoration: none;
    font-size: 18px;
    color: #2B3541;
}
button {
    border: none;
    background-color: transparent;
    padding: 0;
    cursor: pointer;
}
.social {
    display: flex;
    justify-content: space-between;
    gap: 30px;
}
.greet {
    display: flex;
    justify-content: space-between;
    position: relative;
}
.greet-content {
    margin-top: 217px;
}
.greet-title {
    color: #2B3541;
    font-weight: 700;
    font-size: 48px;
    text-transform: uppercase;
    line-height: 125%;
    letter-spacing: 0.03em;
    margin-top: 0;
    margin-bottom: 4px;
}
.greet-block1 {
    display: flex;
    justify-content: flex-start;
    gap: 20px;
    color: #2B3541;
    font-weight: 400;
    font-size: 40px;
    height: 50px;
}
.greet-block2 {
    margin-left: 92px;
}
.greet-description-add {
    color: #2B3541;
    font-weight: 400;
    font-size: 18px;
    line-height: 150%;
    max-width: 297px;
    padding-top: 41px;
    margin-bottom: 57px;
}
.greet-content a {
    background-color: #FBF138;
    color: #2B3541;
    text-decoration: none;
    font-weight: 700;
    font-size: 16px;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    padding-top: 20px;
    padding-bottom: 20px;
    padding-right: 30px;
    padding-left: 30px;
}
.visual {
    display: flex;
    justify-content: flex-end;
    flex-grow: 1;
    position: relative;
}
.rectangle {
    width: 464px;
    height: 850px;
    background: linear-gradient(90deg, #FBF138 0%, rgba(253, 249, 182, 0.45) 145.23%);
    opacity: 0.2;
}
.visual img {
    position: absolute;
    right: -187px;
    top: -11px;
}
.down {
    background-image: url(../icons/Arrow.svg);
    background-repeat: no-repeat;
    background-size: cover;
    width: 52px;
    height: 55px;
    position: absolute;
    bottom: 10px;
}
.events {
    margin-top: 154px;
}
.event-title {
    color: #2B3541;
    font-weight: 700;
    font-size: 40px;
    margin: 0;
}
.event-grid {
    display: flex;
    justify-content: space-between;
    margin-top: 40px;
    gap: 20px;
}
.event-grid-item1 {
    background-image: url(../images/maraphon@2x.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 0 center;
    width: 367.32px;
    height: 583px;
    position: relative;
    padding-left: 29px;
    padding-top: 14px;
}
.event-grid-item2 {
    background-image: url(../images/Vebinar\ 1@2x.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 0 center;
    width: 367.32px;
    height: 583px;
    position: relative;
    padding-left: 29px;
    padding-top: 14px;
}
.event-grid-item3 {
    background-image: url(../images/Vebinar\ 2@2x.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 0 center;
    width: 367.32px;
    height: 583px;
    position: relative;
    padding-left: 29px;
    padding-top: 14px;
}
.event-button {
    background-color: #2B3541;
    box-shadow: 0px 13px 24px rgba(70, 86, 106, 0.28);
    color: #FBF138;
    font-weight: 700;
    font-size: 16px;
    text-align: center;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    text-decoration: none;
    padding: 20px 49px 20px;
    position: absolute;
    z-index: 100;
    top: 185px;
    opacity: 0;
    transition: opacity 0.3s;
}
.event-grid-item1:after {
    content: "";  
	width: 100%;
	height: 100%;    
	position: absolute;
    background: linear-gradient(180deg, #FBF138 0%, rgba(253, 249, 182, 0) 100%);
    opacity: 0.3;
    top: 0;      
	left: 0;
    transition: opacity 0.2s;
}
.event-grid-item1:hover:after {
    background: linear-gradient(180deg, #FBF138 0%, rgba(253, 249, 182, 0) 100%);
    opacity: 0.6;
}
.event-grid-item1:hover .event-button {
    opacity: 1;
}
.event-grid-item2:after {
    content: "";  
	width: 100%;
	height: 100%;    
	position: absolute;
    background: linear-gradient(180deg, #FBF138 0%, rgba(253, 249, 182, 0) 100%);
    opacity: 0.3;
    top: 0;      
	left: 0;
    transition: opacity 0.2s;
}
.event-grid-item2:hover::after {
    background: linear-gradient(180deg, #FBF138 0%, rgba(253, 249, 182, 0) 100%);
    opacity: 0.6;
}
.event-grid-item2:hover .event-button {
    opacity: 1;
}
.event-grid-item3:after {
    content: "";  
	width: 100%;
	height: 100%;    
	position: absolute;
    background: linear-gradient(180deg, #FBF138 0%, rgba(253, 249, 182, 0) 100%);
    opacity: 0.3;
    top: 0;      
	left: 0;
    transition: opacity 0.2s;
}
.event-grid-item3:hover::after {
    background: linear-gradient(180deg, #FBF138 0%, rgba(253, 249, 182, 0) 100%);
    opacity: 0.6;
}
.event-grid-item3:hover .event-button {
    opacity: 1;
}
.event-item-date {
    color: #2B3541;
    opacity: 60%;
    font-weight: 700;
    font-size: 18px;
    z-index: 100;
    position: absolute;
}
.event-item-title {
    color: #2B3541;
    font-weight: 700;
    font-size: 28px;
    line-height: 125%;
    max-width: 228px;
    z-index: 100;
    position: absolute;
    top: 49px;
}
.event-item-tag {
    background-color: #FBF138;
    color: #2B3541;
    font-weight: 400;
    font-size: 18px;
    padding-top: 12px;
    padding-bottom: 12px;
    padding-right: 20px;
    padding-left: 20px;
    text-align: center;
    position: absolute;
    right: 0px;
    bottom: 0px;
}
.schedule-header {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    margin-top: 128px;
    margin-bottom: 5px;
}
.schedule-title {
    font-weight: 700;
    font-size: 40px;
    line-height: 125%;
    color: #2B3541;
    max-width: 356px;
}
.schedule-date {
    color: #2B3541;
    font-weight: 700;
    font-size: 28px;
}
.schedule-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 310px 73px 280px;
    gap: 20px;
}
.schedule-grid-item-22 {
    grid-area: 1 / 1 / 2 / 2;
    border: 1px solid rgba(43, 53, 65, 0.5);
    padding: 20px 30px 20px;
    box-sizing: border-box;
    transition: 0.2s;
    position: relative;
}
.schedule-grid-item-22:hover {
    background: linear-gradient(180deg, #FBF138 0%, rgba(253, 249, 182, 0.45) 100%);
    opacity: 0.7;
    border-color: transparent;
    box-shadow: 0px 13px 30px rgba(186, 180, 69, 0.2);
    box-sizing: border-box;
}
.schedule-grid-item-22 img {
    margin-top: 120px;
    margin-bottom: 36px;
}
.schedule-grid-item-23 {
    grid-area: 2 / 1 / 4 / 2;
    border: 1px solid rgba(43, 53, 65, 0.5);
    padding: 20px 30px 20px;
    box-sizing: border-box;
    transition: 0.2s;
}
.schedule-grid-item-23:hover {
    border: 1px solid transparent;
    background: linear-gradient(180deg, #FBF138 0%, rgba(253, 249, 182, 0.45) 100%);
    opacity: 0.7;
    box-shadow: 0px 13px 30px rgba(186, 180, 69, 0.2);
    box-sizing: border-box;
}
.schedule-grid-item-23 img {
    margin-top: 142px;
    margin-bottom: 36px;
}
.schedule-grid-item-24 {
    grid-area: 1 / 2 / 3 / 3;
    border: 1px solid rgba(43, 53, 65, 0.5);
    padding: 20px 30px 20px;
    box-sizing: border-box;
    transition: 0.2s;
}
.schedule-grid-item-24:hover {
    border: 1px solid transparent;
    background: linear-gradient(180deg, #FBF138 0%, rgba(253, 249, 182, 0.45) 100%);
    opacity: 0.7;
    box-shadow: 0px 13px 30px rgba(186, 180, 69, 0.2);
    box-sizing: border-box;
}
.schedule-grid-item-24 img {
    margin-top: 193px;
    margin-bottom: 36px;
}
.schedule-grid-item-25 {
    grid-area: 3 / 2 / 4 / 3;
    border: 1px solid rgba(43, 53, 65, 0.5);
    padding: 20px 30px 20px;
    box-sizing: border-box;
    transition: 0.2s;
}
.schedule-grid-item-25:hover {
    border: 1px solid transparent;
    background: linear-gradient(180deg, #FBF138 0%, rgba(253, 249, 182, 0.45) 100%);
    opacity: 0.7;
    box-shadow: 0px 13px 30px rgba(186, 180, 69, 0.2);
    box-sizing: border-box;
}
.schedule-grid-item-25 img {
    margin-top: 93px;
    margin-bottom: 40px;
}
.schedule-grid-item-26 {
    grid-area: 1 / 3 / 2 / 4;
    border: 1px solid rgba(43, 53, 65, 0.5);
    padding: 20px 30px 20px;
    box-sizing: border-box;
    transition: 0.2s;
}
.schedule-grid-item-26:hover {
    border: 1px solid transparent;
    background: linear-gradient(180deg, #FBF138 0%, rgba(253, 249, 182, 0.45) 100%);
    opacity: 0.7;
    box-shadow: 0px 13px 30px rgba(186, 180, 69, 0.2);
    box-sizing: border-box;
}
.schedule-grid-item-26 img {
    margin-top: 133px;
    margin-bottom: 36px;
}
.schedule-grid-item-27 {
    grid-area: 2 / 3 / 4 / 4;
    border: 1px solid rgba(43, 53, 65, 0.5);
    padding: 20px 30px 20px;
    box-sizing: border-box;
    transition: 0.2s;
}
.schedule-grid-item-27:hover {
    border: 1px solid transparent;
    background: linear-gradient(180deg, #FBF138 0%, rgba(253, 249, 182, 0.45) 100%);
    opacity: 0.7;
    box-shadow: 0px 13px 30px rgba(186, 180, 69, 0.2);
    box-sizing: border-box;
}
.schedule-grid-item-27 img {
    margin-top: 182px;
    margin-bottom: 38px;
}
.schedule-item-title {
    margin: 0;
    font-weight: 700;
    font-size: 18px;
    color: #2B3541;
}
.schedule-item-date {
    font-weight: 400;
    font-size: 18px;
    color: #010101;
    opacity: 0.7;
    text-align: right;
    margin: 0;
}
.subscribe {
    background-color: #f3f3f3;
}
.subscribe-title {
    font-weight: 700;
    font-size: 40px;
    color: #2B3541;
    text-align: center;
}
.subscribe-content {
    display: flex;
    justify-content: center;
    align-items: baseline;
}
.subscribe-button {
    color: #2B3541;
    font-weight: 700;
    font-size: 16px;
    text-transform: uppercase;
    background-color: #FBF138;
    box-shadow: 0px 13px 24px rgba(251, 241, 56, 0.2);
    padding: 20px 43px 20px;
}
.about-content-visual {
    display: flex;
    justify-content: space-between;
}
.about-title {
    font-weight: 700;
    font-size: 40px;
    color: #2B3541;
    margin: 0;
}
.about-text {
    font-weight: 400;
    font-size: 18px;
    line-height: 150%;
    max-width: 483px;
    margin-top: 22px;
    margin-bottom: 58px;
}
.about-visual {
    position: relative;
}
.about-visual img {
    height: 336px;
    width: 581px;
}
.about-visual:after {
    content: "";  
	width: 100%;
	height: 100%;    
	position: absolute;
    background-image: linear-gradient(180deg, rgba(251, 241, 56, 0.3) 0%, rgba(253, 249, 182, 0.15) 100%);
    top: 0;      
	left: 0;
}
.about-button {
    background: #FBF138;
    box-shadow: 0px 13px 24px rgba(251, 241, 56, 0.3);
    color: #2B3541;
    font-weight: 700;
    font-size: 16px;
    text-transform: uppercase;
    text-decoration: none;
    text-align: center;
    letter-spacing: 0.03em;
    padding: 20px 51px 20px;
}
.about-ul {
    display: flex;
    justify-content: center;
    align-content: center;
    list-style: none;
    padding-left: 0;
    gap: 67px;
    margin-top: 58px;
}
.about-ul-title {
    color: #2B3541;
    font-weight: 700;
    font-size: 18px;
}
.about-ul-text {
    color: #2B3541;
    opacity: 0.6;
    font-weight: 400;
    font-size: 18px;
    line-height: 150%;
    margin-top: 20px;
}
.about-ul-item:first-child {
    max-width: 231px;
}
.about-ul-item:nth-child(2n) {
    max-width: 282px;
}
.about-ul-item:nth-child(3n) {
    max-width: 221px;
}
.about-ul-item:last-child {
    max-width: 204px;
}